body {
    background: #f5d9d5;
}

#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 20px;
}

#mainNavBar .navbar-brand{
    color: #ea1c2c;
}
#mainNavBar .nav-link {
    color: white;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavBar .navbar-brand{
    color: #ea1c2c;
}
