body {
    background: #f5d9d5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    
}

#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
    
}

#mainNavBar .navbar-brand{
    color: #ea1c2c;
}

#mainNavBar .nav-link {
    color: white;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h2{
        font-size: 3rem;
    }
    
}

#middle h2{
    color: #ea1c2c;
}

#middle  h3{
    font-size: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    color: #f498b8;
    line-height: 200%;
}

#middle  h2{
    font-size: 2rem;
    font-weight: 100;
}

@media (max-width: 1200px) {
    #middle h2 {
        font-size: 1.5rem;
        
    }
}

@media (max-width: 1200px) {
    #middle h3 {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 100%;
    }
}