body {
    background: #f5d9d5;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding: 0;
    
}

#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
}

#mainNavBar .navbar-brand{
    color: #ea1c2c;
}

#mainNavBar .nav-link {
    color: white;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}


